extends layout

block content
    div.text-white.bg-dark
        div.py-2.px-5
            h4= title
    .card
        .card-body
            .text-center
                .col-12
                    h4 Md Robiul Hassan
                    small
                        cite(title='Full-Stack Engineer')
                            | Full Stack Engineer  
                    p
                        | robiul.hassan12102@gmail.com
                        br
                        a(href='http://www.robinhassan.com') www.robinhassan.com
                        br
                        | OCt 14, 2019