extends layout

block content
  div.text-white.bg-dark
    div.py-2.px-5
      h4= title
  .card
    .card-header Architecture Diagram
    .card-body
      .text-center
        img(src='https://i.ibb.co/qCXNSd5/avatar.png', alt='architecture diagram', height=500, width=700)

  .card
    .card-header Security Diagram
    .card-body
      .text-center
        img(src="https://i.ibb.co/nLg7v21/avatar.png", alt="security diagram", height=500, width=500)